.btn{
	box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
	border-radius: 4px;
}

.loader{
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 50px;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
}
.btn-icon{
   margin: 0px 4px;
   padding: 2px;
}
@media (max-width: 1380px) {
.btn-icon {
    margin: 4px 4px;
    padding: 2px;
}
}
.thbold{
	font-weight: 600;
}
.loader_button{
	display: none;
}
.card-active-own{
/*	background-color: #2e08d717;*/
	background-color: #0d6af41f;
	float: right;
	
}
.card_user_icon{
	position: absolute !important;
    /* top: 0!important; */
    left: 0!important;
    transform: translate(-20%,-25%);
   --tblr-avatar-size: 2.0rem !important;

}
.card_user_icon_reea_by{
   --tblr-avatar-size: 1.5rem !important;
}

.bg-user-icon-lt {
    --tblr-bg-opacity: .2;
    --tblr-text-opacity: 1;
    color: #024eb7 !important;
    background-color: #adcfff !important;
}
.bg-otheruser-icon-lt{
	--tblr-bg-opacity: .2;
    --tblr-text-opacity: 1;
    color: #333 !important;
    background-color: #c7deff !important;
}
.view_tick {
      width: auto;
      bottom: 0px;
      left: -5px;
      text-align: left;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
  }

  .view_tick_details {
    width: max-content;
    top: 100%;
    left: 2px;
    visibility: hidden;
    background-color: #fff;
    padding: 4px 4px;
    border-radius: 6px;
    position: absolute;
    z-index: 99;
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,.08);
  }  
  .view_tick:hover .view_tick_details {
    visibility: visible;
  }
  .read_by_list{
    margin: auto;
    font-size: 12px;
    padding: 0px 10px 0px 0px;
  }
  /*.view_tick {
          width: 120px;
          bottom: 100%;
          right: 0;
          visibility: hidden;
          background-color: #fff;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
          position: absolute;
          z-index: 1;
          box-shadow: 0px 1px 6px 1px rgba(0,0,0,.08);
  }
  .chat_reaction_box:hover .view_tick {
    visibility: visible;
  }*/
  